<h1>Login Here!</h1>
<form method="post" action="/login">
    User name:<input name="user_name" type="user_name" >
    Password:<input name="password" type="password">
    <input type="submit" value="login">
</from>