<h1>Signup Here!</h1>
<form method="post" action="signup">
    User name:<input name="user_name" type="user_name" >
    Password:<input name="password" type="password">
    <input type="submit" value="signup">
</from>