<h1>Baseball Player!</h1>
<h2>Index View</h2>
<%if logged_in? %>
<h3>Logged in user_name: <%=current_user.user_name%></h3>
<% end %>
<% @players.each do |b| %>
  
    <a href="/players/<%=b.id%>"><%= b.name %></a> <br>
   <% end %>