<!DOCTYPE html>
<html>
    <head>
    <title>Major League Baseball Players</title>
    <meta charset="UTF-8">
    </head>
    <body>
        <h1> Major League Baseball Players<h1>
        <%=yield %>
    </body>
</html>