<!DOCTYPE html>
<html>
    <head>
    <title>Major League Baseball Players</title>
    <meta charset="UTF-8">
    </head>
    <body>
    <div>
        <% if logged_in? %>
        <a href="/players">All Players</a> |
        <a href="/players/new"> Add a new Player</a> |
        <a href="/logout">Logout</a>
       <%else%>
        <a href="/login">Login</a>
        <% end %>

    </div>
        <h1> Major League Baseball Players<h1>
        <%=yield %>
    </body>
</html>